<div class="alert alert-danger">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>毎日ラーメン</h3>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
                  <img src="https://api.gnavi.co.jp/api/img/credit/api_265_65.gif" width="265" height="65" border="0" alt="グルメ情報検索サイト　ぐるなび">
                </a>
            </div>

            <!--
            <div class="col-md-8">
                <form (submit)="submitHandler($event)">
                    <input type="text" name="queryTerm"
                    autofocus
                    [(ngModel)]="queryTerm"
                    placeholder="フリーワード" 
                    class="form-control">
                </form>
            </div>
            -->
        </div>
    </div>
</div>
